{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<body>

{% include 'header.html' %}
<div id="container">
    {% include 'sider.html' %}
    <div id="content">
        <DIV class="main_container">

            <DIV id=u0_container class="u0_container">
                <DIV id="u0_img" class="u0_original"></DIV>
                <DIV id=u1 class="u1">
                    <DIV id=u1_rtf>&nbsp;</DIV>
                </DIV>
            </DIV>
            <IMG id=u0 src="resources/images/transparent.gif" class="u0">

            <DIV id=u2_line class="u2_line"></DIV>

            <IMG id=u2 src="resources/images/transparent.gif" class="u2">

            <DIV id=u3_line class="u3_line"></DIV>

            <IMG id=u3 src="resources/images/transparent.gif" class="u3">

            <DIV id=u4_container class="u4_container">
                <DIV id="u4_img" class="u4_original"></DIV>
                <DIV id=u5 class="u5">
                    <DIV id=u5_rtf><p style="text-align:center;"><span
                            style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">实名认证</span>
                    </p></DIV>
                </DIV>
            </DIV>
            <IMG id=u4 src="resources/images/transparent.gif" class="u4">

            <DIV id=u6 class="u6">
                <DIV id=u6_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:18px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">实名认证</span>
                </p></DIV>
            </DIV>
            <DIV id=u7_container class="u7_container">
                <DIV id="u7_img" class="u7_original"></DIV>
                <DIV id=u8 class="u8">
                    <DIV id=u8_rtf>&nbsp;</DIV>
                </DIV>
            </DIV>
            <IMG id=u7 src="resources/images/transparent.gif" class="u7">

            <INPUT id=u9 type=text value="" class="u9">

            <DIV id=u10 class="u10">
                <DIV id=u10_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">真实姓名</span>
                </p></DIV>
            </DIV>
            <DIV id=u11_container class="u11_container">
                <DIV id="u11_img" class="u11_original"></DIV>
                <DIV id=u12 class="u12">
                    <DIV id=u12_rtf>&nbsp;</DIV>
                </DIV>
            </DIV>
            <IMG id=u11 src="resources/images/transparent.gif" class="u11">

            <DIV id=u13 class="u13">
                <DIV id=u13_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">个人信息</span>
                </p></DIV>
            </DIV>
            <DIV id=u14 class="u14">
                <DIV id=u14_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">手机号码</span>
                </p></DIV>
            </DIV>
            <INPUT id=u15 type=text value="" class="u15">

            <DIV id=u16 class="u16">
                <DIV id=u16_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">身份证号码</span>
                </p></DIV>
            </DIV>
            <INPUT id=u17 type=text value="" class="u17">

            <DIV id=u18 class="u18">
                <DIV id=u18_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">身份证扫描件</span>
                </p></DIV>
            </DIV>
            <DIV id=u19 class="u19">
                <DIV id=u19_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FF0000;">请上传身份证的扫描文件，包括身份证的正反面</span>
                </p></DIV>
            </DIV>
            <DIV id=u20 class="u20">
                <DIV id=u20_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">照片1&nbsp; &nbsp; &nbsp; &nbsp; 删除|重传</span>
                </p>

                    <p style="text-align:left;"><span
                            style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">照片2&nbsp; &nbsp; &nbsp; &nbsp; 删除|重传</span>
                    </p></DIV>
            </DIV>
            <DIV id=u21_container class="u21_container">
                <DIV id="u21_img" class="u21_original"></DIV>
                <DIV id=u22 class="u22">
                    <DIV id=u22_rtf><p style="text-align:center;"><span
                            style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">上传文件</span>
                    </p></DIV>
                </DIV>
            </DIV>
            <IMG id=u21 src="resources/images/transparent.gif" class="u21">

            <DIV id=u23 class="u23">
                <DIV id=u23_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">通讯地址</span>
                </p></DIV>
            </DIV>
            <INPUT id=u24 type=text value="" class="u24">

            <DIV id=u25_container class="u25_container">
                <DIV id="u25_img" class="u25_original"></DIV>
                <DIV id=u26 class="u26">
                    <DIV id=u26_rtf>&nbsp;</DIV>
                </DIV>
            </DIV>
            <IMG id=u25 src="resources/images/transparent.gif" class="u25">

            <DIV id=u27_container class="u27_container">
                <DIV id="u27_img" class="u27_original"></DIV>
                <DIV id=u28 class="u28">
                    <DIV id=u28_rtf>&nbsp;</DIV>
                </DIV>
            </DIV>
            <IMG id=u27 src="resources/images/transparent.gif" class="u27">

            <DIV id=u29 class="u29">
                <DIV id=u29_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">企业信息</span>
                </p></DIV>
            </DIV>
            <INPUT id=u30 type=text value="" class="u30">

            <DIV id=u31 class="u31">
                <DIV id=u31_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">企业全称</span>
                </p></DIV>
            </DIV>
            <INPUT id=u32 type=text value="" class="u32">

            <DIV id=u33 class="u33">
                <DIV id=u33_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">组织机构代码</span>
                </p></DIV>
            </DIV>
            <DIV id=u34 class="u34">
                <DIV id=u34_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">营业执照号码</span>
                </p></DIV>
            </DIV>
            <INPUT id=u35 type=text value="" class="u35">

            <DIV id=u36 class="u36">
                <DIV id=u36_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">公司地址</span>
                </p></DIV>
            </DIV>
            <INPUT id=u37 type=text value="" class="u37">

            <DIV id=u38 class="u38">
                <DIV id=u38_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">组织机构代码证扫描件</span>
                </p></DIV>
            </DIV>
            <DIV id=u39 class="u39">
                <DIV id=u39_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">文件1&nbsp; &nbsp; &nbsp; &nbsp; 删除|重传</span>
                </p></DIV>
            </DIV>
            <DIV id=u40_container class="u40_container">
                <DIV id="u40_img" class="u40_original"></DIV>
                <DIV id=u41 class="u41">
                    <DIV id=u41_rtf><p style="text-align:center;"><span
                            style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">上传文件</span>
                    </p></DIV>
                </DIV>
            </DIV>
            <IMG id=u40 src="resources/images/transparent.gif" class="u40">

            <DIV id=u42 class="u42">
                <DIV id=u42_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">营业执照扫描件</span>
                </p></DIV>
            </DIV>
            <DIV id=u43 class="u43">
                <DIV id=u43_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">文件1&nbsp; &nbsp; &nbsp; &nbsp; 删除|重传</span>
                </p></DIV>
            </DIV>
            <DIV id=u44_container class="u44_container">
                <DIV id="u44_img" class="u44_original"></DIV>
                <DIV id=u45 class="u45">
                    <DIV id=u45_rtf><p style="text-align:center;"><span
                            style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">上传文件</span>
                    </p></DIV>
                </DIV>
            </DIV>
            <IMG id=u44 src="resources/images/transparent.gif" class="u44">

            <DIV id=u46 class="u46">
                <DIV id=u46_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">企业法人代表</span>
                </p></DIV>
            </DIV>
            <INPUT id=u47 type=text value="" class="u47">

            <DIV id=u48 class="u48">
                <DIV id=u48_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">企业授权文件</span>
                </p></DIV>
            </DIV>
            <DIV id=u49 class="u49">
                <DIV id=u49_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">文件1&nbsp; &nbsp; &nbsp; &nbsp; 删除|重传</span>
                </p></DIV>
            </DIV>
            <DIV id=u50_container class="u50_container">
                <DIV id="u50_img" class="u50_original"></DIV>
                <DIV id=u51 class="u51">
                    <DIV id=u51_rtf><p style="text-align:center;"><span
                            style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">上传文件</span>
                    </p></DIV>
                </DIV>
            </DIV>
            <IMG id=u50 src="resources/images/transparent.gif" class="u50">

            <DIV id=u52 class="u52">
                <DIV id=u52_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:underline;color:#0000FF;">授权文件下载</span>
                </p></DIV>
            </DIV>
            <DIV id=u53 class="u53">
                <DIV id=u53_rtf><p style="text-align:left;"><span
                        style="font-family:SimSun;font-size:13px;font-weight:normal;font-style:normal;text-decoration:underline;color:#0000FF;">授权文件说明</span>
                </p></DIV>
            </DIV>
        </DIV>
        <DIV class=preload>
            <img src="实名认证_files/u0_original.png" width="1" height="1"/>
            <img src="实名认证_files/u2_line.png" width="1" height="1"/>
            <img src="实名认证_files/u3_line.png" width="1" height="1"/>
            <img src="实名认证_files/u4_original.png" width="1" height="1"/>
            <img src="实名认证_files/u7_original.png" width="1" height="1"/>
            <img src="实名认证_files/u11_original.png" width="1" height="1"/>
            <img src="实名认证_files/u21_original.png" width="1" height="1"/>
            <img src="实名认证_files/u25_original.png" width="1" height="1"/></DIV>
        <SCRIPT src="resources/scripts/axurerp_pagescript.js"></SCRIPT>
        <SCRIPT src="实名认证_files/axurerp_pagespecificscript.js" charset="utf-8"></SCRIPT>
    </div>
</div>
</body>
{% endblock %}
