.info{
	width:740px;
	margin:0px auto;
}

.pers{
	width:740px;
	/*height:300px;*/
	border:1px solid black;
	margin:15px auto;
	padding:25px;
}

.tab{
	width:70px;
	border:1px solid black;
	margin-top:-35px;
	background-color:white;
}

.form1{
	width:740px;
    clear: both;
}

.form2{
	width:120px;
    height:30px;
	float:left;
    list-style:none;
	padding:0;
	margin:0;
}

.form3{
	width:620px;
	float:right;
}

.scan1{
	width: 200px;
	float:left;
	list-style:none; 
	padding:0;
	margin:0;
   /* overflow:hidden*/
}

.scan2{
	width: 200px;
	float:left;
	list-style:none; 
	padding:0;
	margin:0
}

.form4{
	width:150px;
	height:30px;
	float:left;
}

.form5{
	width:590px;
	float:right;
}

.extra {
    clear: both;
}