<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="shiming/identity.css">
		<script src="shiming/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="shiming/identity.js"></script>
	</head>
	<body>
		<div class="info">实名认证</div>
		<div class="pers">
            <div class="tab">个人信息</div>
			<div class="form1">
				<div class="form2">真实姓名</div>
				<div class="form3"><input type="text"></div>
			</div>
			<div class="form1">
				<div class="form2">手机号码</div>
				<div class="form3">
                    <input class="phone_num" id="phone_num" maxlength="11" autocomplete="off" type="text">
                    <div class= "ok" id="ok" style="display: none">bbb</div>
                    <div class="no" id="no" style="display: none">ccc</div>
                    <div class="prompt" id="prompt" style="display:none">aaaa</div>
                </div>
			</div>
			<div class="form1">
				<div class="form2">身份证号</div>
				<div class="form3"><input type="text"></div>
			</div>
			<div class="form1">
				<div class="form2">通讯地址</div>
				<div class="form3"><input type="text"></div>
			</div>
			<div class="form1" >
				<div class="form2">身份证扫描件</div>
				<div class="form3">
					<div class="form3" >
						<ul class="scan1">
							<li>
								<span class="title">文件一</span>
                                <span><a class="link" href="javascript:void(0);" >删除</a>|<a href="javascript:void(0);">重传</a></span>
							</li>
						</ul>
						<div>
		                    <button class="upl">上传文件</button>
						</div>
                    </div>
                    <div>请上传身份证的扫描文件，包括正反照</div>
				</div>
            <div class="extra"></div>
			</div>
			<div class="form1">
				<div class="form2">企业授权文件</div>
                <div class="form3">
				<div class="form3">
					<ul class="scan2">
					    <li>
						    <span class="title">文件一</span>
						    <span><a class="link" href="javascript:void(0);">删除</a>|<a href="javascript:void(0);">重传</a></span>
					    </li>
					</ul>
					<div>
						<button class="upl">上传文件</button>
						<span>
						    <a href="javascript:void(0);">授权文件下载</a>
						    <a href="javascript:void(0);">授权文件说明</a>
						</span>
					</div>
                    <div class="extra"></div>
				</div>
                </div>
                 <div class="extra"></div>
			</div>
		</div>
		<div class="pers">
			<div class="tab">企业信息</div>
			<div class="form1">
				<div class="form4">企业全称</div>
				<div class="form5"><input type="text"></div>
			</div>
			<div class="form1">
				<div class="form4">组织机构代码</div>
				<div class="form5"><input type="text"></div>
			</div>
			<div class="form1">
				<div class="form4">组织机构代码证扫描</div>
                <div class="form5">
					<div class="form5">
						<ul class="scan2">
							<li>
								<span class="title">文件一</span>
								<span><a class="link" href="javascript:void(0);">删除</a>|<a href="javascript:void(0);">重传</a></span>
							</li>
						</ul>
						<div>
                            <button class="upl">上传文件</button>
                        </div>
                        <div class="extra"></div>
					</div>
                  </div>
                <div class="extra"></div>
			</div>
			<div class="form1">
				<div class="form4">营业执照号码</div>
				<div class="form5"><input type="text"></div>
			</div>
			<div class="form1">
				<div class="form4">营业执照扫描件</div>
				<div class="form5">
                    <div class="form5">
					    <ul class="scan2">
							<li>
								<span class="title">文件一</span>
								<span><a href="javascript:void(0);" class="link">删除</a>|<a href="javascript:void(0);">重传</a></span>
							</li>
						</ul>
						<div>
                            <button class="upl">上传文件</button>
                        </div>
                        <div class="extra"></div>
					</div>
                 </div>
                 <div class="extra"></div>
			</div>
			<div class="form1">
				<div class="form4">企业法人代表</div>
				<div class="form5"><input type="text"></div>
			</div>
			<div class="form1">
				<div class="form4">公司地址</div>
				<div class="form5"><input type="text"></div>
			</div>
            <div class="extra"></div>
		</div>
	</body>
	
</html>

